nimcache/
nimblecache/
htmldocs/

src/wrapper/create
src/wrapper/plugin_generator

tests/*
!tests/*.nim
!tests/*.wav
!tests/*.mkv

tests/borrame.wav

examples/*
!examples/*.nim
!examples/plugins

media/*.ffindex
media/*.y4m
tests/*.y4m
examples/*.y4m